<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PennyRoyal.Properties.Settings.bardataConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\EUR_USD.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="PennyRoyal.Properties.Settings.EC3ABAD797220D664D75276777FD92CB_CES_ONEDRIVE___JOHN_MCMAHON_ART_PROJECTS_PENNYROYAL_PENNYROYAL_PENNYROYAL_BIN_DEBUG_EUR" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=&quot;EC3ABAD797220D664D75276777FD92CB_CES\ONEDRIVE - JOHN MCMAHON ART\PROJECTS\PENNYROYAL\PENNYROYAL\PENNYROYAL\BIN\DEBUG\EUR_USD.MDF&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="PennyRoyal.Properties.Settings.EUR_USDConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EUR_USD;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Console" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>